.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: solid black 1px;
  border-radius: 20px;
  background-color: aliceblue;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

.TodoItem-p {
  margin: 5px;
  text-align: center;
  font-size: large;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}